@textColor: #333333;

.container { text-align: center; }
.hero-unit { background-color: white; }
.tagline { margin-top: 1em; }
em { font-weight: bold; }
.row { margin-bottom: 3em; }
a { color: @textColor; }
a:hover { text-decoration: none; color: @textColor; }