extends layout

block content
  body
    .container
      .hero-unit
        h1 Hello, my name is
          strong  Brent.
        p.tagline I am a web designer and software developer, and I am
          em  at your service.
      .row
        .span4
          i.icon-globe.icon-4x
          h2 Web Development
          p From the simplest content sites to the most complex custom web apps, I take advantage of the latest in web technologies, including social media integration, and design that works on all your visitors' devices - from phones to wall sized displays.
        .span4
          i.icon-desktop.icon-4x
          h2 Custom Software
          p With years of experience building products for major software vendors and custom enterprise software for leading companies around the world, you can trust your project will be delivered with the quality and control you expect.
        .span4
          i.icon-cloud.icon-4x
          h2 Cloud Deployment
          p Your business requires that your web or enterprise project is up and running 24/7.  Take advantage of deployment and monitoring services for the major cloud environments - Amazon Web Services, Rackspace, and Microsoft Azure.
      h2 Contact me
      .row
        .span6
          a(href="tel:+19024497845")
            i.icon-phone.icon-4x
            p +1 902-449-7845
        .span6
          a(href="mailto:brent@brentrockwood.com")
            i.icon-envelope.icon-4x
            p brent@brentrockwood.com
      h2 Follow me
      .row
        .span4
          a(href="https://www.linkedin.com/in/brentrockwood/")
            i.icon-linkedin.icon-4x
            p LinkedIn
        .span4
          a(href="https://twitter.com/brentrockwood")
            i.icon-twitter.icon-4x
            p Twitter
        .span4
          a(href="https://github.com/brentrockwood")
            i.icon-github-alt.icon-4x
            p GitHub
      footer
        &copy; 2013, Brent Rockwood.  All rights reserved.
    script(src="http://code.jquery.com/jquery-latest.js")
    script(src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js")
