doctype
html(lang='en')
  head
    title Brent Rockwood - Software

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    
    script(type='text/javascript', src='/js/g-analytics.js')
    
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet")
    link(rel='stylesheet', href='index.css')
  body
    block content
    footer
      .container
        section
          h4 Contact
          ul
            li
              a(href='tel:+19024497845')
                i.fa.fa-phone.fa-2x
                | +1 902 449 7845
            li
              a(href='mailto:brent@brentrockwood.com')
                i.fa.fa-envelope.fa-2x
                | brent@brentrockwood.com
        section
          h4 Follow
          ul
            li
              a(href='https://www.linkedin.com/in/brentrockwood/')
                i.fa.fa-linkedin.fa-2x
                | LinkedIn
            li
              a(href='https://twitter.com/brentrockwood')
                i.fa.fa-twitter.fa-2x
                | Twitter
            li
              a(href='https://github.com/brentrockwood')
                i.fa.fa-github-alt.fa-2x
                | GitHub
        section
          p &copy; 2013, Brent Rockwood.
            br
            | ALL RIGHTS RESERVED.
