doctype
html(lang='en')
  head
    title Brent Rockwood - Software

    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
    script(type="text/javascript", src="/js/g-analytics.js")
    
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css')
    link(rel='stylesheet', href="font/fontawesome.css")
    //[if IE 7]>
        <link rel="stylesheet" href="/css/font-awesome-ie7.min.css"><![endif]
    link(rel='stylesheet', href="index.css")
  body
    block content
    footer
      .container
        .row
          .span4
            h4 Contact
            ul
              li
                a(href="tel:+19024497845")
                  i.icon-phone.icon-2x
                  | +1 902 449 7845
              li
                a(href="mailto:brent@brentrockwood.com")
                  i.icon-envelope-alt.icon-2x
                  | brent@brentrockwood.com
          .span4
            h4 Follow
            ul
              li
                a(href="https://www.linkedin.com/in/brentrockwood/")
                  i.icon-linkedin.icon-2x
                  | LinkedIn
              li
                a(href="https://twitter.com/brentrockwood")
                  i.icon-twitter.icon-2x
                  | Twitter
              li
                a(href="https://github.com/brentrockwood")
                  i.icon-github-alt.icon-2x
                  | GitHub
          .span4
            p &copy; 2013, Brent Rockwood.  ALL RIGHTS RESERVED.
    script(src="http://code.jquery.com/jquery-latest.js")
      script(src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js")
