doctype
html(lang='en')
  head
    title Brent Rockwood - Software

    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
    script(type="text/javascript", src="/js/g-analytics.js")
    
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css')
    link(rel='stylesheet', href="font/fontawesome.css")
    //[if IE 7]>
        <link rel="stylesheet" href="/css/font-awesome-ie7.min.css"><![endif]
    link(rel='stylesheet', href="index.css")
    
  block content
